extends ../general.pug
block content 
    img.imgshow(src='https://scontent.fsgn5-11.fna.fbcdn.net/v/t1.15752-9/276046215_371811364864700_7048890421798913387_n.png?_nc_cat=111&ccb=1-5&_nc_sid=ae9488&_nc_ohc=wbGa5b6rCL4AX-1-M9v&tn=l6eI72qB41H2P3T1&_nc_ht=scontent.fsgn5-11.fna&oh=03_AVKi0--GsBP9nRliXOzVB2JgCK1AzFcFk5Z1mgSTapmkxA&oe=626D7468', style='padding-bottom:20px; width:100%')
    .abc.container
        a.linkurl(href='/') Trang chủ &nbsp
        i.fas.fa-chevron-right
        a.linkurl(href='#2') &nbsp Khám phá &nbsp
        i.fas.fa-chevron-right
        span &nbsp Kinh nghiệm đặt khách sạn giá rẻ
        
        h2(style='text-align:center') Kinh nghiệm đặt khách sạn giá rẻ
        p
          | Đặt khách sạn khi du lịch tưởng như đơn giản nhưng có thể khiến bạn đau đầu với muôn vàn lựa chọn. 
          | Cùng 
          a.linkurl(href='https://luvistay.com/' style='color:blue' target="blank") LuviStay
          |  bỏ túi kinh nghiệm đặt khách sạn giá rẻ để lên kế hoạch cho chuyến đi hoàn hảo nào!
        p 
            | “Làm sao để đặt được khách sạn với mức giá siêu hời mà chất lượng vẫn đảm bảo?” hay “Có kinh nghiệm đặt khách sạn giá rẻ nào từ các chuyên gia vi vu?” đều là những câu hỏi
            a.linkurl(href='https://luvistay.com/' style='color:blue' target="blank")  LuviStay 
            | thường xuyên nhận được. Đừng băn khoăn nữa bởi 
            a.linkurl(href='https://luvistay.com/' style='color:blue' target="blank") LuviStay
            |&nbsp sẽ tổng hợp những kinh nghiệm đặt khách sạn chi tiết nhất trong bài viết này, sẵn sàng cùng bạn lên kế hoạch cho chuyến đi vừa rẻ vừa vui!
        .row1 
            .column
                p#c1(style='text-align:center')  Kinh nghiệm đặt khách sạn cho những tay mơ
                div(style='position:relative')
                    img.imgshow(src='https://scontent.fsgn5-12.fna.fbcdn.net/v/t1.15752-9/277461187_952303962102493_4024385373957732688_n.png?_nc_cat=103&ccb=1-5&_nc_sid=ae9488&_nc_ohc=DEFoJonpw1kAX8wvH7e&_nc_ht=scontent.fsgn5-12.fna&oh=03_AVIWA5CHyGUDgPTpNnH7qSwT0MtXvqjTHVh1UpEvMRcp7A&oe=62714AF6', style='width:100%;border-radius:5px')
                    .imgtext(style='color:white') Booking
                
                p
                    |Có 3 cách để bạn có thể đặt phòng khách sạn cho chuyến đi của mình. Cùng xem qua đó là những cách nào, với ưu - nhược điểm gì nhé.
                    |Đặt trực tiếp với khách sạn: Đây là một trong những cách đơn giản nhất giúp bạn chọn được điểm dừng chân cho chuyến đi của mình. Bạn có thể liên hệ số điện thoại của các khách sạn để đặt phòng và thanh toán trực tiếp.
                ul 
                    li Ưu điểm: Thủ tục nhanh gọn, thanh toán đơn giản
                    li Nhược điểm: Phải tự liên hệ để tìm hiểu loại phòng, tiện ích, ưu đãi đang có
                p 
                    |Đặt phòng qua 
                    a.linkurl(href='https://luvistay.com/' style='color:blue' target="blank") LuviStay 
                    | : Bạn có thể lựa chọn đặt khách sạn online uy tín và tiết kiệm tại 
                    a.linkurl(href='https://luvistay.com/' style='color:blue' target="blank") LuviStay 
                    | với những ưu điểm khó chối từ:
                ul 
                    li Mức giá tốt, ưu đãi thường xuyên sẽ giúp bạn tiết kiệm được một khoản chi phí không nhỏ
                    li Giao diện đơn giản, dễ sử dụng và dễ dàng so sánh giá của hàng trăm khách sạn trong 1 lần tìm kiếm
                    li Cổng chăm sóc khách hàng 24/7, giúp bạn giải đáp những thắc mắc và hỗ trợ kịp thời
                    li Quản lý đặt phòng dễ dàng, mọi thông tin đều có trong ứng dụng
            .column
                p#c2(style='text-align:center') Tín đồ du lịch
                
                div(style='position:relative')
                    img.imgshow(src='https://scontent.fsgn5-10.fna.fbcdn.net/v/t1.15752-9/277544194_397825245504138_2868873592116914401_n.png?_nc_cat=107&ccb=1-5&_nc_sid=ae9488&_nc_ohc=l3_iCxLQPOEAX8TB_Jv&tn=l6eI72qB41H2P3T1&_nc_ht=scontent.fsgn5-10.fna&oh=03_AVKS2JI0rlTpVMQ7Xf5sDvQr53F9dRJId5gwfpGSg176hg&oe=62705692', style='width:100%;padding-top:8px;border-radius:5px')
                    .imgtext(style='color:white') Phòng đơn
                |
                p
                    |Theo kinh nghiệm đặt khách sạn của các tín đồ du lịch, hàng sao là điều đầu tiên bạn cần chú ý khi quyết định lựa chọn nơi dừng chân. Hạng sao càng cao, thì các dịch vụ và tiện ích càng nhiều.

                ul 
                    li Giá tham khảo: 250.000-300.000 VND/ phòng/ đêm
                    li Tiện ích: Diện tích tối thiểu 12m2, đảm bảo trang thiết bị cơ bản như điều hòa, tivi, tủ lạnh, thang máy (nếu từ 4 tầng trở lên), buồng phòng phục vụ 24/7 và có sảnh đón tiếp.
                    li Đánh giá chung: Nhìn chung khách sạn tiêu chuẩn 1 sao thường có diện tích vừa phải, trang thiết bị cơ bản và bình dân. Đây là một nơi dừng chân để nghỉ ngơi chứ không mang tính chất nghỉ dưỡng. Khách sạn không phục vụ ăn sáng và đưa đón sân bay, tuy nhiên hầu hết sẽ nằm ở vị trí thuận lợi đi lại và gần các quán ăn, trung tâm thương mại.
    div(style='background-color:#f1f1f1;')
        p#c3(style='text-align:center;padding-top:30px') So sánh giá phòng & săn ưu đãi trên LuviStay
        .ab
            p
                |Tại LuviStay, khi nhập địa điểm và thời gian du lịch, bạn sẽ có hàng nghìn lựa chọn khách sạn từ bình dân đến cao cấp. Nhờ thế, bạn có thể dễ dàng so sánh giá và chọn được khách sạn một cách nhanh chóng và dễ dàng nhất.
    div
        .imgcontainer
            img.imgshow(src='https://scontent.fsgn5-8.fna.fbcdn.net/v/t1.15752-9/274466328_3192091101078934_7875481356446288526_n.png?_nc_cat=109&ccb=1-5&_nc_sid=ae9488&_nc_ohc=Djn6YLXzmL8AX8OJNJo&_nc_ht=scontent.fsgn5-8.fna&oh=03_AVJcsFynmzYVzYxkGHM5Zo7YHtf0nbSpL_MbD_CX-a74oA&oe=626E612E', style='width:100%; border-radius:5px; float:left')
        .imgcontainer
            img.imgshow(src='https://scontent.fsgn5-5.fna.fbcdn.net/v/t1.15752-9/275145512_1203324866870412_7935412287279438238_n.png?_nc_cat=100&ccb=1-5&_nc_sid=ae9488&_nc_ohc=opwKqweZyckAX_iW7gF&_nc_ht=scontent.fsgn5-5.fna&oh=03_AVJ4XZD8sJjgvA_4hxx5LeBZ9MKevtw1ubZBUG-wxxBE0A&oe=626EFD50', style='width:100%; border-radius:5px;float:left')
        .imgcontainer
            img.imgshow(src='https://scontent.fsgn5-13.fna.fbcdn.net/v/t1.15752-9/273463618_697271244952632_3888459017084516366_n.png?_nc_cat=104&ccb=1-5&_nc_sid=ae9488&_nc_ohc=8FIgfy74xnsAX9jHjWP&_nc_ht=scontent.fsgn5-13.fna&oh=03_AVJ3Jir0KPAhwmz9wm7Sx-hu4_sHC4L74tqACp-ggYeWuQ&oe=626DA939', style='width:100%; border-radius:5px;float:left;')
   
    
    
    .container1
        iframe.responsive-iframe(src="https://www.youtube.com/embed/CYKK9jfLRp8")
    p#c5(style='text-align:center;font-size:24px;padding-bottom:40px;padding-top:40px') Kinh nghiệm cho lần đầu check-in tại khách sạn
    .abc.container
        p(style='font-size:18px')  Nếu đang chuẩn bị check-in khách sạn lần đầu tiên, hẳn bạn sẽ có những câu hỏi không biết tỏ cùng ai. Bạn đừng quá lo lắng! LuviStay sẽ mách bạn những điều cần lưu ý trước khi làm thủ tục nhận phòng khách sạn.
        ul 
            li Đem theo đầy đủ giấy tờ tùy thân như chứng minh thư/ hộ chiếu/ bằng lái xe để làm thủ tục check-in.
            li Nên đem theo một khoản tiền đặt cọc đối với các khách sạn từ 3 sao trở lên.
            li Kiểm tra toàn bộ hệ thống trang thiết bị khi nhận phòng. Nếu có vấn đề gì báo ngay với nhân viên để được hỗ trợ. Tránh trường hợp khách sạn sẽ tính phí các vật dụng bị thiếu hoặc hỏng.
            li Tuân thủ quy định ở phòng không hút thuốc. Một số khách sạn có mức phạt rất cao đối với du khách vi phạm.
        
           
    #myModal.modal1.bg-light.shadow
        .modal-content
            .mySlides
                .numbertext 1 / 2
                img.imgshow(src='https://scontent.fsgn5-4.fna.fbcdn.net/v/t1.15752-9/275860264_523896669264840_6927376670284776488_n.png?_nc_cat=102&ccb=1-5&_nc_sid=ae9488&_nc_ohc=XwoweLlijuwAX-1rE_I&tn=l6eI72qB41H2P3T1&_nc_ht=scontent.fsgn5-4.fna&oh=03_AVLdNlp_nporRlxDkIDnMsq8FBJQ9vyEGjulfXlil89QXA&oe=6270F596', style='width:100%')
            .mySlides
                .numbertext 2 / 2
                img.imgshow(src='https://scontent.fsgn5-12.fna.fbcdn.net/v/t1.15752-9/276974878_290489489887486_5514958990508948109_n.png?_nc_cat=103&ccb=1-5&_nc_sid=ae9488&_nc_ohc=5WwgjFeGbAcAX_9Ln6j&_nc_ht=scontent.fsgn5-12.fna&oh=03_AVIs30QwDX-oPBJngoA85-NbZx8NxQK7MKKmXHYV63kUNA&oe=627110CD', style='width:100%')
          
            a.linkurl.prev(onclick="plusSlides(-1)") &#x276E;
            a.linkurl.next(onclick="plusSlides(1)") &#x276F;
            .caption-container1
                p#caption
    script.
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
        showSlides((slideIndex += n));
        }

        function currentSlide(n) {
        showSlides((slideIndex = n));
        }

        function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {
            slideIndex = 1;
        }
        if (n < 1) {
            slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
        }

        //- function openModal2() {
        //- document.getElementById("myModal2").style.display = "block";
        //- }

        //- function closeModal2() {
        //- document.getElementById("myModal2").style.display = "none";
        //- }

        //- var slideIndex2 = 1;
        //- showSlides2(slideIndex2);

        //- function plusSlides2(n) {
        //- showSlides2((slideIndex2 += n));
        //- }

        //- function currentSlide2(n) {
        //- showSlides2((slideIndex2 = n));
        //- }

        //- function showSlides2(n) {
        //- var i;
        //- var slides = document.getElementsByClassName("mySlides2");
        //- var dots = document.getElementsByClassName("demo");
        //- var captionText = document.getElementById("caption2");
        //- if (n > slides.length) {
        //-     slideIndex2 = 1;
        //- }
        //- if (n < 1) {
        //-     slideIndex2 = slides.length;
        //- }
        //- for (i = 0; i < slides.length; i++) {
        //-     slides[i].style.display = "none";
        //- }
        //- for (i = 0; i < dots.length; i++) {
        //-     dots[i].className = dots[i].className.replace(" active", "");
        //- }
        //- slides[slideIndex2 - 1].style.display = "block";
        //- dots[slideIndex2 - 1].className += " active";
        //- captionText.innerHTML = dots[slideIndex2 - 1].alt;
        //- }